
.navbar {
    overflow: hidden;
    background-color: #333;
    color:white;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }

  body {
    z-index: 1;
 }
  
 .navbar {
    position: fixed;
    z-index: 2;
 }
  footer {
    background-color: #333;
    color: white;
  }
