
.navbar {
    overflow: hidden;
    background-color: #333;
    color:white;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }

  body {
    z-index: 1;
    background-color: #e9ecef;
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;  
 }

 .jumbotron{
   background-image: url('images/background.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center; 
 }
  
 .navbar {
    position: fixed;
    z-index: 2;
 }
 .form-inline {
  display: flex;
  justify-content: space-between;
  width: 40%;
}
.navbar-brand{
  color: lightgrey;
  font-weight: bolder
}
.nav-link {
  color: lightgrey;
  font-weight: bolder
}
 }
  footer {
    background-color: #333;
    color: white;
  }
